* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    width: 100%;
    height: 100%;
    background-color: #0F3460;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0 auto;
    background-color: #16213E;
}

@media only screen and (max-width:500px) {
    .container {
        margin: 10em 3em;
    }
}

form {
    display: flex;
    width: 80%;
    margin: 1em auto;
}

form input {
    width: 70%;
    padding: .5em;
    outline: none;
    border: none;
    font-size: 18px;
}

form button {
    width: 30%;
    border: none;
    background-color: #533483;
    color: #F7ECDE;
    font-size: 18px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em 1em;
}

ul li {
    display: flex;
    justify-content: space-between;
    color: #F7ECDE;
    font-size: 20px;
    border: 1px solid #533483;
    padding: .5em .3em;
    border-radius: 4px;
}

li div {
    display: flex;
    gap: 1em;
}

li a {
    text-decoration: none;

}

h3 {
    margin: 1em auto;
    color: #F7ECDE;
    text-align: center;
}

h2 {
    color: #F7ECDE;
    text-align: center;
    margin: 3em auto;
}